body {
  margin: 20, 20;
  padding: 25, 25;
  font-family: sans-serif;
}

h1 {
  color: steelblue;
}

.fail {
  color: white;
  background: coral;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: white;
  background: lightgreen;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.blogNode {
  margin: 10px 0px 10px 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  border-left: 4px;
  border-top: 2px;
  border-right: 0;
  border-bottom: 0;
  border-color: steelblue;
  border-style: solid;
}

.blogNodeButton {
  margin: 2px 2px;
}